@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

p {
  margin: 0px 0px 0px 0px;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header__container {
  max-width: 1320px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-box-shadow: 0px 2px 6px 1px #00000026;
          box-shadow: 0px 2px 6px 1px #00000026;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  margin: 0px 0px 6px 0px;
  padding: 0px 0px;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 70px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.header__list li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
@media (max-width: 992px) {
  .header__list li {
    margin: 0px 0px 0px 50px;
  }
}

.header__link {
  color: #202020;
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #202020;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 60px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fba051;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #202020;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    padding: 10px 0px 0px 0px;
  }

  .header__list li {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }

  .header__link {
    font-size: 22px;
  }
}
.content {
  padding: 100px 0px 0px 0px;
}

.content__text {
  font-size: 18px;
  line-height: 25px;
}

.content__text p {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 768px) {
  .content {
    padding: 70px 0px 0px 0px;
  }
}
.whatsAppCall {
  display: block;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26.2px;
  font-weight: 700;
  color: #212121;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.whatsAppCall img {
  margin: 0px 5px 0px 0px;
}
@media (max-width: 768px) {
  .whatsAppCall img {
    max-width: 26px;
  }
}
@media (max-width: 992px) {
  .whatsAppCall {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .whatsAppCall {
    display: none;
    font-size: 16px;
  }
}

main {
  padding: 130px 0px 0px 0px;
}
@media (max-width: 768px) {
  main {
    padding: 80px 0px 0px 0px;
  }
}

.burder_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burder_contact .whatsAppCall {
  margin: 0px 15px 0px 0px;
}
@media (min-width: 768px) {
  .burder_contact .whatsAppCall {
    display: none;
  }
}
@media (max-width: 768px) {
  .burder_contact .whatsAppCall {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.section1 {
  margin: 20px 0px 100px 0px;
}
@media (max-width: 768px) {
  .section1 {
    margin: 20px 0px 65px 0px;
  }
}
.section1 .main_title {
  font-size: 109.6px;
  line-height: 110%;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  text-shadow: 4px 5px 0px #fba051;
  color: #212121;
  text-align: center;
  margin: 0px auto 55px auto;
}
@media (max-width: 992px) {
  .section1 .main_title {
    font-size: 50px;
    margin: 0px auto 35px auto;
  }
}
@media (max-width: 768px) {
  .section1 .main_title {
    margin: 0px auto 25px auto;
  }
}
@media (max-width: 530px) {
  .section1 .main_title {
    font-size: 32px;
  }
}
.section1 .subtitle {
  text-align: center;
  margin: 0px auto 50px auto;
  border: 4px dashed #3a3a3a;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 44.6px;
  line-height: 115%;
  font-weight: 600;
  text-transform: uppercase;
  color: #212121;
  padding: 0.5% 3%;
}
@media (max-width: 992px) {
  .section1 .subtitle {
    font-size: 30px;
    margin: 0px auto 30px auto;
  }
}
@media (max-width: 768px) {
  .section1 .subtitle {
    margin: 0px auto 25px auto;
    font-size: 25px;
  }
}
@media (max-width: 530px) {
  .section1 .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .section1 .subtitle {
    font-size: 17px;
  }
}
.section1 .subtext {
  font-size: 27.5px;
  line-height: 125%;
  font-weight: 500;
  color: #212121;
  max-width: 750px;
  margin: 0 auto 30px auto;
}
@media (max-width: 992px) {
  .section1 .subtext {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section1 .subtext {
    font-size: 20px;
    line-height: 115%;
  }
}
.section1 .btn-primary {
  font-size: 41.7px;
  line-height: 110%;
  font-weight: 500;
  color: #212121;
  margin: 0 auto;
  border-radius: 30px;
  padding: 1% 7%;
  width: 100%;
  max-width: 720px;
}
@media (max-width: 768px) {
  .section1 .btn-primary {
    font-size: 25px;
    padding: 3% 10%;
  }
}
@media (max-width: 420px) {
  .section1 .btn-primary {
    font-size: 20px;
  }
}

.btn_div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content {
  padding: 7px 5px;
}

.modal-header {
  border-bottom: none !important;
  padding: 10px 10px 0px 10px;
}

.modal_form .title {
  font-size: 25px !important;
  line-height: 115% !important;
  font-weight: 600 !important;
  color: #212121 !important;
  text-align: center !important;
  margin-bottom: 15px !important;
}

.form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form_content label {
  cursor: pointer;
}
.form_content label p {
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
  color: #212121;
}
.form_content input {
  width: 100%;
  height: 50px;
  border: 1px solid #212121;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 22px;
  line-height: 35px;
  font-weight: 300;
  color: #212121;
}
.form_content input:nth-child(2) {
  margin-bottom: 20px;
}
.form_content input::-webkit-input-placeholder {
  color: #bbb9b9;
}
.form_content input::-moz-placeholder {
  color: #bbb9b9;
}
.form_content input:-ms-input-placeholder {
  color: #bbb9b9;
}
.form_content input::-ms-input-placeholder {
  color: #bbb9b9;
}
.form_content input::placeholder {
  color: #bbb9b9;
}

.form_btn {
  background-color: #fcce00;
  border-color: #fcce00;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #212121;
  margin: 0 auto;
  border-radius: 30px;
  padding: 15px 20px;
  width: 100%;
  max-width: 590px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.form_btn:hover {
  background-color: #e0b700;
}
@media (max-width: 768px) {
  .form_btn {
    font-size: 25px;
  }
}

.section2 {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .section2 {
    margin-bottom: 55px;
  }
}
.section2 .title {
  font-size: 61.1px;
  line-height: 61px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .section2 .title {
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 35px;
  }
}
@media (max-width: 440px) {
  .section2 .title {
    font-size: 30px;
  }
}
.section2 .img_item_block {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebebeb;
  -webkit-box-shadow: 4px 10px 12px 4px rgba(69, 69, 69, 0.56);
          box-shadow: 4px 10px 12px 4px rgba(69, 69, 69, 0.56);
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .section2 .img_item_block {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 585px) {
  .section2 .img_item_block {
    margin-bottom: 20px;
  }
}
.section2 .section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .section2 .section_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section2 .section_content .tr_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .section2 .section_content .tr_item {
    margin-bottom: 25px;
  }
}
@media (max-width: 585px) {
  .section2 .section_content .tr_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.section2 .section_content .db_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .section2 .section_content .db_item {
    padding: 0 80px;
  }
}
@media (max-width: 585px) {
  .section2 .section_content .db_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px;
  }
}
.section2 .section_content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px;
}
@media (max-width: 585px) {
  .section2 .section_content .item {
    margin: 0px 20px 25px 20px;
  }
}
.section2 .section_content .item .img_item_block .img_item {
  max-width: 100%;
}
.section2 .section_content .text {
  font-size: 20px;
  line-height: 105%;
  font-weight: 400;
  color: #212121;
  max-width: 300px;
  text-align: center;
}

.section3 .title {
  font-size: 61.1px;
  line-height: 61px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 85px;
}
@media (max-width: 1200px) {
  .section3 .title {
    font-size: 50px;
    line-height: 110%;
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .section3 .title {
    font-size: 40px;
    line-height: 110%;
  }
}
@media (max-width: 440px) {
  .section3 .title {
    font-size: 30px;
  }
}
.section3 .section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .section3 .section_content {
    margin-bottom: 60px;
  }
}
.section3 .section_content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media (max-width: 545px) {
  .section3 .section_content .item {
    margin-bottom: 25px;
  }
}
.section3 .section_content .item .text {
  font-size: 163.9px;
  line-height: 158px;
  font-weight: 800;
  text-shadow: 4px 5px 0px #f47d15;
  color: #212121;
}
@media (max-width: 1200px) {
  .section3 .section_content .item .text {
    font-size: 100px;
    line-height: 115%;
  }
}
@media (max-width: 768px) {
  .section3 .section_content .item .text {
    font-size: 70px;
    line-height: 115%;
  }
}
.section3 .section_content .item .text_span {
  font-size: 46.8px;
  line-height: 45px;
  font-weight: 500;
  color: #212121;
}
@media (max-width: 1200px) {
  .section3 .section_content .item .text_span {
    font-size: 30px;
    line-height: 115%;
  }
}
@media (max-width: 768px) {
  .section3 .section_content .item .text_span {
    font-size: 25px;
    line-height: 115%;
  }
}
.section3 .section_content .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .section3 .section_content .tr {
    margin-bottom: 35px;
  }
}
@media (max-width: 545px) {
  .section3 .section_content .tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.section3 .section_content .db {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
@media (max-width: 545px) {
  .section3 .section_content .db {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.section3 .section_content .db .item .text {
  text-shadow: 4px 5px 0px #fcce00;
}

.form_container {
  padding: 0px 10px;
  margin: 0px 0px 150px 0px;
}
@media (max-width: 768px) {
  .form_container {
    margin: 0px 0px 100px 0px;
  }
}
.form_container .modal_form {
  border: 1px solid #212121;
  -webkit-box-shadow: 0px 2px 12px 4px rgba(69, 69, 69, 0.27);
          box-shadow: 0px 2px 12px 4px rgba(69, 69, 69, 0.27);
  border-radius: 30px;
  padding: 22px 85px 70px 85px;
  position: relative;
}
@media (max-width: 768px) {
  .form_container .modal_form {
    padding: 30px 55px 44px 55px;
  }
}
@media (max-width: 570px) {
  .form_container .modal_form {
    padding: 30px 25px 44px 25px;
  }
}
.form_container .modal_form .bnt_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -52.5px;
  left: 0;
}
@media (max-width: 768px) {
  .form_container .modal_form .bnt_block {
    bottom: -38.5px;
  }
}
.form_container .modal_form .form_btn {
  height: 105px;
  max-width: 709px;
  border-radius: 40px;
  font-size: 50.2px;
  line-height: 48px;
  font-weight: 300;
  color: #212121;
  margin: 0px 15px;
}
@media (max-width: 992px) {
  .form_container .modal_form .form_btn {
    max-width: 83%;
  }
}
@media (max-width: 768px) {
  .form_container .modal_form .form_btn {
    font-size: 30px;
    line-height: 115%;
    height: 79px;
  }
}
.form_container .modal_form .form_content label p {
  font-size: 35.4px;
  line-height: 34px;
  font-weight: 300;
  color: #212121;
  margin-bottom: 5px;
}
@media (max-width: 570px) {
  .form_container .modal_form .form_content label p {
    font-size: 25px;
  }
}
.form_container .modal_form .form_content input {
  height: 80px;
  font-size: 37.2px;
  line-height: 35px;
  font-weight: 300;
  padding: 10px 45px;
}
@media (max-width: 570px) {
  .form_container .modal_form .form_content input {
    height: 60px;
    font-size: 25px;
    padding: 10px 25px;
  }
}
.form_container .title {
  font-size: 51.4px !important;
  line-height: 49px;
  font-weight: 600;
  color: #212121;
  text-align: center;
  margin-bottom: 23px;
}
@media (max-width: 992px) {
  .form_container .title {
    font-size: 41.4px !important;
    line-height: 115%;
  }
}
@media (max-width: 570px) {
  .form_container .title {
    font-size: 35px !important;
    line-height: 110%;
    margin-bottom: 17px;
  }
}
.form_container .subtitle {
  font-size: 32.5px;
  line-height: 31px;
  font-weight: 300;
  color: #212121;
  text-align: center;
  margin-bottom: 25px;
}
@media (max-width: 570px) {
  .form_container .subtitle {
    font-size: 25px;
    line-height: 110%;
  }
}

.banner {
  width: 100%;
  max-width: 840px;
  padding: 0.6% 5%;
  margin: 0 auto;
  border: 4px dashed #f47d15;
}
@media (max-width: 530px) {
  .banner {
    padding: 2% 5%;
  }
}
.banner .text {
  font-size: 43.1px;
  line-height: 105%;
  font-weight: 400;
  color: #212121;
  text-align: center;
}
.banner .text span {
  font-weight: bold;
}
@media (max-width: 992px) {
  .banner .text {
    font-size: 30px;
  }
}
@media (max-width: 530px) {
  .banner .text {
    font-size: 24px;
  }
}

.section4 {
  margin: 75px 0px 160px 0px;
}
@media (max-width: 992px) {
  .section4 {
    margin: 55px 0px 100px 0px;
  }
}
@media (max-width: 768px) {
  .section4 {
    margin: 55px 0px 60px 0px;
  }
}
.section4 .section_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 60px;
}
@media (max-width: 992px) {
  .section4 .section_content {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 30px;
  }
}
@media (max-width: 768px) {
  .section4 .section_content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}
.section4 .section_content .item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 12px 4px rgba(69, 69, 69, 0.27);
          box-shadow: 0px 2px 12px 4px rgba(69, 69, 69, 0.27);
  border-radius: 11px;
  padding: 20px 25px 30px 25px;
}
@media (max-width: 991px) {
  .section4 .section_content .item {
    padding: 20px 15px;
  }
}
.section4 .section_content .item .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #fcce00;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 25px 0px;
}
@media (max-width: 992px) {
  .section4 .section_content .item .number {
    width: 49px;
    height: 49px;
    font-size: 30px;
    margin: 0px 0px 19px 0px;
  }
}
.section4 .section_content .item .title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  margin: 0px 0px 25px 0px;
}
@media (max-width: 1400px) {
  .section4 .section_content .item .title {
    font-size: 18px;
    margin: 0px 0px 19px 0px;
  }
}
@media (max-width: 992px) {
  .section4 .section_content .item .title {
    font-size: 16px;
    line-height: 115%;
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 360px) {
  .section4 .section_content .item .title {
    font-size: 14px;
  }
}
.section4 .section_content .item .content_text {
  font-size: 19px;
  line-height: 24px;
  font-weight: 400;
  color: #212121;
}
@media (max-width: 1400px) {
  .section4 .section_content .item .content_text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 992px) {
  .section4 .section_content .item .content_text {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .section4 .section_content .item .content_text {
    font-size: 13px;
    line-height: 115%;
  }
}

.section5 {
  margin: 0px 0px 120px 0px;
}
@media (max-width: 992px) {
  .section5 {
    margin: 0px 0px 90px 0px;
  }
}
@media (max-width: 768px) {
  .section5 {
    margin: 0px 0px 50px 0px;
  }
}
.section5 .title {
  font-size: 69.8px;
  line-height: 110%;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #000000;
  text-align: center;
  width: 100%;
  margin: 0 auto 60px auto;
}
@media (max-width: 992px) {
  .section5 .title {
    font-size: 59.8px;
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 768px) {
  .section5 .title {
    font-size: 40px;
  }
}
@media (max-width: 540px) {
  .section5 .title {
    font-size: 25px;
  }
}
.section5 .subtitle {
  font-size: 42.3px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #000000;
  text-align: center;
  width: 100%;
}
@media (max-width: 992px) {
  .section5 .subtitle {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .section5 .subtitle {
    font-size: 29px;
  }
}
@media (max-width: 540px) {
  .section5 .subtitle {
    font-size: 20px;
  }
}
.section5 .btn-primary {
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 46px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #212121;
  margin: 45px 0px 0px 0px;
}
@media (max-width: 992px) {
  .section5 .btn-primary {
    margin: 30px 0px 0px 0px;
    font-size: 36px;
    padding: 2% 8%;
  }
}
@media (max-width: 768px) {
  .section5 .btn-primary {
    font-size: 20px;
  }
}

.section6 {
  margin: 0px 0px 60px 0px;
}
@media (max-width: 768px) {
  .section6 {
    margin: 0px 0px 40px 0px;
  }
}
.section6 .title {
  font-size: 70.5px;
  line-height: 71px;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: #000000;
  margin: 0px 0px 45px 0px;
}
@media (max-width: 1200px) {
  .section6 .title {
    font-size: 55px;
    line-height: 110%;
  }
}
@media (max-width: 992px) {
  .section6 .title {
    font-size: 45px;
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section6 .title {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
  }
}

.section6_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .section6_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section6_content .right_content {
  padding: 0px 0px 0px 68px;
}
@media (max-width: 992px) {
  .section6_content .right_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 590px) {
  .section6_content .right_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section6_content .right_content .item {
  position: relative;
  padding: 0px 0px 0px 33px;
  margin-bottom: 45px;
}
@media (max-width: 1200px) {
  .section6_content .right_content .item {
    margin-bottom: 35px;
  }
}
@media (max-width: 992px) {
  .section6_content .right_content .item {
    margin: 0px 0px 0px 0px;
  }
  .section6_content .right_content .item:nth-child(2) {
    margin: 0px 20px;
  }
}
@media (max-width: 590px) {
  .section6_content .right_content .item {
    margin: 0px 0px 15px 0px;
  }
  .section6_content .right_content .item:nth-child(2) {
    margin: 0px 0px 15px 0px;
  }
}
.section6_content .right_content .item .text {
  font-size: 32.6px;
  line-height: 33px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #000000;
  max-width: 415px;
}
@media (max-width: 992px) {
  .section6_content .right_content .item .text {
    max-width: unset;
    font-size: 24px;
    line-height: 110%;
  }
}
@media (max-width: 768px) {
  .section6_content .right_content .item .text {
    font-size: 20px;
  }
}
.section6_content .right_content .item .span_bl {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section6_content .right_content .item .span_bl .span_it {
  width: 19px;
  height: 19px;
  background-color: #fcce00;
  border-radius: 50%;
}
@media (max-width: 992px) {
  .section6_content .left {
    margin: 10px 0px 0px 0px;
  }
}
.section6_content .left img {
  max-width: 100%;
}

.section7 {
  margin: 0px 0px 100px 0px;
}
@media (max-width: 992px) {
  .section7 {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 768px) {
  .section7 {
    margin: 0px 0px 40px 0px;
  }
}
.section7 .title_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 100px 0px;
}
@media (max-width: 992px) {
  .section7 .title_block {
    margin: 0px 0px 15px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section7 .title_block .title {
  font-size: 57.1px;
  line-height: 58px;
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #000000;
  margin: 0px 10px 0px 0px;
}
@media (max-width: 992px) {
  .section7 .title_block .title {
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .section7 .title_block .title {
    font-size: 35px;
  }
}
.section7 .title_block .span_it {
  display: block;
  width: 60%;
  height: 3px;
  background-color: #212121;
  margin-top: 7px;
}
@media (max-width: 1400px) {
  .section7 .title_block .span_it {
    width: 55%;
  }
}
@media (max-width: 1200px) {
  .section7 .title_block .span_it {
    width: 46%;
  }
}
@media (max-width: 992px) {
  .section7 .title_block .span_it {
    display: none;
  }
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  position: relative;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 10px;
  }
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  outline: none;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider__item {
  padding: 0px 15px;
  outline: none;
}

.slider__item img {
  max-width: 100%;
}

/*dots*/
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.section7_content .title {
  font-size: 57.1px;
  line-height: 41px;
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #000000;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 13px;
}
@media (max-width: 768px) {
  .section7_content .title {
    font-size: 40px;
    line-height: 110%;
  }
}
.section7_content .subtitle {
  font-size: 33.1px;
  line-height: 33px;
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #000000;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 768px) {
  .section7_content .subtitle {
    font-size: 25px;
    line-height: 110%;
    margin: 0px 0px 20px 0px;
  }
}
.section7_content .text {
  font-size: 33.4px;
  line-height: 37px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #000000;
  margin: 0px 0px 40px 0px;
}
.section7_content .text:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 768px) {
  .section7_content .text {
    font-size: 20px;
    line-height: 110%;
    margin: 0px 0px 25px 0px;
  }
}
.section7_content .slider__item {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 0px 30px 0px #d4d4d4;
          box-shadow: 0px 0px 30px 0px #d4d4d4;
  border-radius: 30px;
  padding: 60px 50px;
  margin: 20px 30px;
}
@media (max-width: 768px) {
  .section7_content .slider__item {
    padding: 30px 30px;
  }
}
@media (max-width: 600px) {
  .section7_content .slider__item {
    padding: 20px 20px;
    margin: 20px 10px;
  }
}

.section8 .subtitle {
  margin: 0px 0px 80px 0px;
}
@media (max-width: 992px) {
  .section8 .subtitle {
    margin: 0px 0px 40px 0px;
  }
}

.section8_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 25px;
}
@media (max-width: 1200px) {
  .section8_content {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 992px) {
  .section8_content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section8_content .item {
  background-color: #f9f9f9;
  -webkit-box-shadow: 16px 19px 49px 0px #d4d4d4;
          box-shadow: 16px 19px 49px 0px #d4d4d4;
  border-radius: 30px;
  padding: 35px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section8_content .item .top {
  margin: 0px 0px 80px 0px;
}
@media (max-width: 992px) {
  .section8_content .item .top {
    margin: 0px 0px 30px 0px;
  }
}
.section8_content .item .top .title_item {
  font-size: 42.9px;
  line-height: 43px;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #212121;
  text-align: center;
  margin: 0px 0px 70px 0px;
}
@media (max-width: 992px) {
  .section8_content .item .top .title_item {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 768px) {
  .section8_content .item .top .title_item {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
  }
}
.section8_content .item .top .text_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 992px) {
  .section8_content .item .top .text_content {
    margin: 0px 0px 15px 0px;
  }
}
.section8_content .item .top .text_content div {
  margin: 0px 6px 0px 0px;
}
.section8_content .item .top .text_content .text {
  font-size: 23.1px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #212121;
}
@media (max-width: 768px) {
  .section8_content .item .top .text_content .text {
    font-size: 18px;
  }
}
.section8_content .item .down .label {
  font-size: 21.9px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #212121;
  text-align: center;
}
.section8_content .item .btn-primary {
  border-radius: 11px;
  font-size: 30.2px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #212121;
  width: 100%;
  padding: 15px 0px;
}
@media (max-width: 768px) {
  .section8_content .item .btn-primary {
    font-size: 20px;
    line-height: 110%;
    padding: 10px 0px;
  }
}

.section9 {
  margin: 0px 0px 140px 0px;
}
@media (max-width: 992px) {
  .section9 {
    margin: 0px 0px 90px 0px;
  }
}
@media (max-width: 768px) {
  .section9 {
    margin: 0px 0px 60px 0px;
  }
}
.section9 .title {
  text-align: center;
  font-size: 40.1px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #212121;
}
@media (max-width: 992px) {
  .section9 .title {
    font-size: 30px;
  }
}
.section9 .subtitle {
  text-align: center;
  font-size: 40.1px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #212121;
  font-weight: 400;
  text-transform: none;
  margin: 0px 0px 45px 0px;
}
@media (max-width: 992px) {
  .section9 .subtitle {
    font-size: 30px;
    margin: 0px 0px 25px 0px;
  }
}
.section9 .btn-primary {
  padding: 1% 5%;
  font-size: 33.5px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #212121;
  border-radius: 11px;
}
@media (max-width: 992px) {
  .section9 .btn-primary {
    font-size: 25px;
    padding: 7px 20px;
    width: 100%;
  }
}

.section10 {
  margin: 0px 0px 125px 0px;
}
@media (max-width: 992px) {
  .section10 {
    margin: 0px 0px 90px 0px;
  }
}
@media (max-width: 768px) {
  .section10 {
    margin: 0px 0px 60px 0px;
  }
}
.section10 .title {
  font-size: 61.5px;
  line-height: 62px;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: #212121;
  text-align: center;
  margin: 0px 0px 70px 0px;
}
@media (max-width: 992px) {
  .section10 .title {
    font-size: 50px;
    line-height: 110%;
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 768px) {
  .section10 .title {
    font-size: 30px;
    margin: 0px 0px 30px 0px;
  }
}

.section10_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .section10_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}
@media (max-width: 992px) {
  .section10_content .left {
    margin: 0px 0px 20px 0px;
  }
}
.section10_content .left .item {
  position: relative;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 20px 0px;
  max-width: 650px;
}
@media (max-width: 992px) {
  .section10_content .left .item {
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .section10_content .left .item {
    margin: 0px 0px 15px 0px;
  }
}
.section10_content .left .item .round {
  position: absolute;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section10_content .left .item .round span {
  display: block;
  width: 13px;
  height: 13px;
  background-color: #f47f19;
  border-radius: 50%;
}
.section10_content .left .item .text {
  font-size: 33.8px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: -0.025em;
  color: #212121;
}
@media (max-width: 768px) {
  .section10_content .left .item .text {
    font-size: 25px;
    line-height: 110%;
  }
}
@media (max-width: 435px) {
  .section10_content .left .item .text {
    font-size: 20px;
  }
}
.section10_content .btn-primary {
  font-size: 31px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #212121;
  padding: 7px 20px;
  border-radius: 11px;
  margin: 50px 0px 0px 0px;
  width: 100%;
  max-width: 278px;
}
@media (max-width: 992px) {
  .section10_content .btn-primary {
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 500px) {
  .section10_content .btn-primary {
    max-width: unset;
    padding: 10px 20px;
  }
}

.timer_text {
  font-size: 73.1px;
  line-height: 74px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #212121;
  margin: 0px 0px 35px 0px;
}
@media (max-width: 435px) {
  .timer_text {
    font-size: 58px;
    line-height: 110%;
  }
}

.timer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.timer_item span {
  font-size: 24.3px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: -0.05em;
  color: #212121;
  margin: 0px 0px 25px 0px;
}
@media (max-width: 992px) {
  .timer_item span {
    margin: 0px 0px 15px 0px;
  }
}
.timer_item .text {
  font-size: 33.5px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #212121;
}
@media (max-width: 430px) {
  .timer_item .text {
    font-size: 25px;
  }
}

.contacts_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .contacts_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts_content .left {
  margin: 0px 30px 0px 0px;
}
@media (max-width: 992px) {
  .contacts_content .left {
    margin: 0px 0px 20px 0px;
  }
}
.contacts_content .left .title {
  font-size: 61.6px;
  line-height: 62px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #212121;
  margin: 0px 0px 40px 0px;
  white-space: nowrap;
  text-align: center;
}
@media (max-width: 991px) {
  .contacts_content .left .title {
    font-size: 50px;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 786px) {
  .contacts_content .left .title {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 490px) {
  .contacts_content .left .title {
    font-size: 48px;
    line-height: 110%;
  }
}
.contacts_content .form_container {
  margin: 0px 0px 0px 0px;
}

.contacts_section {
  margin: 0px 0px 150px 0px;
}
@media (max-width: 768px) {
  .contacts_section {
    margin: 0px 0px 80px 0px;
  }
}

.contacts_block .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 768px) {
  .contacts_block .item {
    margin: 0px 0px 30px 0px;
  }
}
.contacts_block .item img {
  margin: 0px 14px 0px 0px;
}
.contacts_block .item .text {
  font-size: 31px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #212121;
}

footer .nav-item {
  margin: 0px 20px;
}
footer .nav-link {
  font-size: 27px;
  color: #212121;
}
footer .down_text {
  font-size: 23px;
  padding: 0px 0px 20px 0px;
}