@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

p {
  margin: 0px 0px 0px 0px;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header__container {
  max-width: 1320px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-box-shadow: 0px 2px 6px 1px #00000026;
          box-shadow: 0px 2px 6px 1px #00000026;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  margin: 0px 0px 6px 0px;
  padding: 0px 0px;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 70px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.header__list li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
@media (max-width: 992px) {
  .header__list li {
    margin: 0px 0px 0px 50px;
  }
}

.header__link {
  color: #202020;
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #202020;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 60px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fba051;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #202020;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    padding: 10px 0px 0px 0px;
  }

  .header__list li {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }

  .header__link {
    font-size: 22px;
  }
}
.content {
  padding: 100px 0px 0px 0px;
}

.content__text {
  font-size: 18px;
  line-height: 25px;
}

.content__text p {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 767px) {
  .content {
    padding: 70px 0px 0px 0px;
  }
}
.whatsAppCall {
  display: block;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26.2px;
  font-weight: 700;
  color: #212121;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.whatsAppCall img {
  margin: 0px 5px 0px 0px;
}
@media (max-width: 768px) {
  .whatsAppCall img {
    max-width: 26px;
  }
}
@media (max-width: 992px) {
  .whatsAppCall {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .whatsAppCall {
    display: none;
    font-size: 16px;
  }
}

main {
  padding: 130px 0px 0px 0px;
}
@media (max-width: 768px) {
  main {
    padding: 80px 0px 0px 0px;
  }
}

.burder_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burder_contact .whatsAppCall {
  margin: 0px 15px 0px 0px;
}
@media (min-width: 767px) {
  .burder_contact .whatsAppCall {
    display: none;
  }
}
@media (max-width: 767px) {
  .burder_contact .whatsAppCall {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.section1 {
  margin: 20px 0px 100px 0px;
}
@media (max-width: 768px) {
  .section1 {
    margin: 20px 0px 65px 0px;
  }
}
.section1 .main_title {
  font-size: 109.6px;
  line-height: 110%;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  text-shadow: 4px 5px 0px #fba051;
  color: #212121;
  text-align: center;
  margin: 0px auto 55px auto;
}
@media (max-width: 992px) {
  .section1 .main_title {
    font-size: 50px;
    margin: 0px auto 35px auto;
  }
}
@media (max-width: 768px) {
  .section1 .main_title {
    margin: 0px auto 25px auto;
  }
}
@media (max-width: 530px) {
  .section1 .main_title {
    font-size: 32px;
  }
}
.section1 .subtitle {
  text-align: center;
  margin: 0px auto 50px auto;
  border: 4px dashed #3a3a3a;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 44.6px;
  line-height: 115%;
  font-weight: 600;
  text-transform: uppercase;
  color: #212121;
  padding: 0.5% 3%;
}
@media (max-width: 992px) {
  .section1 .subtitle {
    font-size: 30px;
    margin: 0px auto 30px auto;
  }
}
@media (max-width: 768px) {
  .section1 .subtitle {
    margin: 0px auto 25px auto;
    font-size: 25px;
  }
}
@media (max-width: 530px) {
  .section1 .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .section1 .subtitle {
    font-size: 17px;
  }
}
.section1 .subtext {
  font-size: 27.5px;
  line-height: 125%;
  font-weight: 500;
  color: #212121;
  max-width: 750px;
  margin: 0 auto 30px auto;
}
@media (max-width: 992px) {
  .section1 .subtext {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section1 .subtext {
    font-size: 20px;
    line-height: 115%;
  }
}
.section1 .btn_div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1 .btn-primary {
  font-size: 41.7px;
  line-height: 110%;
  font-weight: 500;
  color: #212121;
  margin: 0 auto;
  border-radius: 30px;
  padding: 1% 7%;
  width: 100%;
  max-width: 720px;
}
@media (max-width: 768px) {
  .section1 .btn-primary {
    font-size: 25px;
    padding: 3% 10%;
  }
}
@media (max-width: 420px) {
  .section1 .btn-primary {
    font-size: 20px;
  }
}

.modal-content {
  padding: 7px 5px;
}

.modal-header {
  border-bottom: none !important;
  padding: 10px 10px 0px 10px;
}

.modal_form .title {
  font-size: 25px;
  line-height: 115%;
  font-weight: 600;
  color: #212121;
  text-align: center;
  margin-bottom: 15px;
}

.form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form_content label {
  cursor: pointer;
}
.form_content label p {
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
  color: #212121;
}
.form_content input {
  width: 100%;
  height: 50px;
  border: 1px solid #212121;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 22px;
  line-height: 35px;
  font-weight: 300;
  color: #212121;
}
.form_content input:nth-child(2) {
  margin-bottom: 20px;
}
.form_content input::-webkit-input-placeholder {
  color: #bbb9b9;
}
.form_content input::-moz-placeholder {
  color: #bbb9b9;
}
.form_content input:-ms-input-placeholder {
  color: #bbb9b9;
}
.form_content input::-ms-input-placeholder {
  color: #bbb9b9;
}
.form_content input::placeholder {
  color: #bbb9b9;
}

.form_btn {
  background-color: #fcce00;
  border-color: #fcce00;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #212121;
  margin: 0 auto;
  border-radius: 30px;
  padding: 15px 20px;
  width: 100%;
  max-width: 590px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.form_btn:hover {
  background-color: #e0b700;
}
@media (max-width: 768px) {
  .form_btn {
    font-size: 25px;
  }
}

.section2 {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .section2 {
    margin-bottom: 65px;
  }
}
.section2 .title {
  font-size: 61.1px;
  line-height: 61px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .section2 .title {
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 35px;
  }
}
@media (max-width: 440px) {
  .section2 .title {
    font-size: 30px;
  }
}
.section2 .img_item_block {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebebeb;
  -webkit-box-shadow: 4px 10px 12px 4px rgba(69, 69, 69, 0.56);
          box-shadow: 4px 10px 12px 4px rgba(69, 69, 69, 0.56);
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .section2 .img_item_block {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 585px) {
  .section2 .img_item_block {
    margin-bottom: 20px;
  }
}
.section2 .section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .section2 .section_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section2 .section_content .tr_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .section2 .section_content .tr_item {
    margin-bottom: 25px;
  }
}
@media (max-width: 585px) {
  .section2 .section_content .tr_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.section2 .section_content .db_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .section2 .section_content .db_item {
    padding: 0 80px;
  }
}
@media (max-width: 585px) {
  .section2 .section_content .db_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px;
  }
}
.section2 .section_content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px;
}
@media (max-width: 585px) {
  .section2 .section_content .item {
    margin: 0px 20px 25px 20px;
  }
}
.section2 .section_content .item .img_item_block .img_item {
  max-width: 100%;
}
.section2 .section_content .text {
  font-size: 20px;
  line-height: 105%;
  font-weight: 400;
  color: #212121;
  max-width: 300px;
  text-align: center;
}

.section3 .title {
  font-size: 61.1px;
  line-height: 61px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 85px;
}
@media (max-width: 1200px) {
  .section3 .title {
    font-size: 50px;
    line-height: 110%;
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .section3 .title {
    font-size: 40px;
    line-height: 110%;
  }
}
@media (max-width: 440px) {
  .section3 .title {
    font-size: 30px;
  }
}
.section3 .section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}
.section3 .section_content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media (max-width: 545px) {
  .section3 .section_content .item {
    margin-bottom: 25px;
  }
}
.section3 .section_content .item .text {
  font-size: 163.9px;
  line-height: 158px;
  font-weight: 800;
  text-shadow: 4px 5px 0px #f47d15;
  color: #212121;
}
@media (max-width: 1200px) {
  .section3 .section_content .item .text {
    font-size: 100px;
    line-height: 115%;
  }
}
@media (max-width: 768px) {
  .section3 .section_content .item .text {
    font-size: 70px;
    line-height: 115%;
  }
}
.section3 .section_content .item .text_span {
  font-size: 46.8px;
  line-height: 45px;
  font-weight: 500;
  color: #212121;
}
@media (max-width: 1200px) {
  .section3 .section_content .item .text_span {
    font-size: 30px;
    line-height: 115%;
  }
}
@media (max-width: 768px) {
  .section3 .section_content .item .text_span {
    font-size: 25px;
    line-height: 115%;
  }
}
.section3 .section_content .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 545px) {
  .section3 .section_content .tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.section3 .section_content .db {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
@media (max-width: 545px) {
  .section3 .section_content .db {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.section3 .section_content .db .item .text {
  text-shadow: 4px 5px 0px #fcce00;
}

.form_container {
  padding: 0px 10px;
}
.form_container .modal_form {
  border: 1px solid #212121;
  -webkit-box-shadow: 0px 2px 12px 4px rgba(69, 69, 69, 0.27);
          box-shadow: 0px 2px 12px 4px rgba(69, 69, 69, 0.27);
  border-radius: 30px;
  padding: 22px 85px 70px 85px;
  position: relative;
}
@media (max-width: 768px) {
  .form_container .modal_form {
    padding: 30px 55px 44px 55px;
  }
}
@media (max-width: 570px) {
  .form_container .modal_form {
    padding: 30px 25px 44px 25px;
  }
}
.form_container .modal_form .bnt_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -52.5px;
  left: 0;
}
@media (max-width: 768px) {
  .form_container .modal_form .bnt_block {
    bottom: -40.5px;
  }
}
.form_container .modal_form .form_btn {
  height: 105px;
  max-width: 709px;
  border-radius: 40px;
  font-size: 50.2px;
  line-height: 48px;
  font-weight: 300;
  color: #212121;
  margin: 0px 15px;
}
@media (max-width: 768px) {
  .form_container .modal_form .form_btn {
    font-size: 30px;
    line-height: 115%;
    height: 80px;
  }
}
.form_container .modal_form .form_content label p {
  font-size: 35.4px;
  line-height: 34px;
  font-weight: 300;
  color: #212121;
  margin-bottom: 5px;
}
@media (max-width: 570px) {
  .form_container .modal_form .form_content label p {
    font-size: 25px;
  }
}
.form_container .modal_form .form_content input {
  height: 80px;
  font-size: 37.2px;
  line-height: 35px;
  font-weight: 300;
  padding: 10px 45px;
}
@media (max-width: 570px) {
  .form_container .modal_form .form_content input {
    height: 60px;
    font-size: 25px;
    padding: 10px 25px;
  }
}
.form_container .title {
  font-size: 51.4px;
  line-height: 49px;
  font-weight: 600;
  color: #212121;
  text-align: center;
  margin-bottom: 23px;
}
@media (max-width: 570px) {
  .form_container .title {
    font-size: 35px;
    line-height: 110%;
    margin-bottom: 17px;
  }
}
.form_container .subtitle {
  font-size: 32.5px;
  line-height: 31px;
  font-weight: 300;
  color: #212121;
  text-align: center;
  margin-bottom: 25px;
}
@media (max-width: 570px) {
  .form_container .subtitle {
    font-size: 25px;
    line-height: 110%;
  }
}